<div class="main">
  <div class="container">
    <h1>Single Quote Wrapper</h1>
  </div>
</div>
<div>
<%= form_tag("/home", method:"get") do %>
  <%= text_area_tag(:x, @input, rows: 20,
      cols: 45, autocomplete: "off", placeholder:
      "Paste a list of items to be formatted. For example:\ncats dogs cows lizards horses",
      :required => true, maxlength: 2000)%>
  <br>
  <%= submit_tag("Go!") %>
<% end %>
<br>
<br>
  <code>
    <% if @userOutput !=nil -%>
    /* <%= Time.now %> */
    <br>
    <%="SELECT * FROM <TableName> WHERE <ColumnName> IN (#{@userOutput});"%>
      <% end %>
  </code>
</div>
