<div class="main">
  <div class="container">
    <h1>Single Quote Wrapper</h1>
  </div>
</div>
<div>
<%= form_tag("/home", method:"get") do %>
  <%= text_area_tag(:x, @input, rows: 20, cols: 30, autocomplete: "off", placeholder: "Insert some text", maxlength: 99999)%>
  <br>
  <%= submit_tag("Update") %>
<% end %>
<br>
<br>
  <code>
    <% if @userOutput !=nil -%>
    /* <%= Time.now %> */
    <br>
    <%="SELECT * FROM <TableName> WHERE <ColumnName> IN (#{@userOutput});"%>
      <% end %>
  </code>
</div>
